/* .lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
 */

:root {
  --dark: #2f2f31;
  --secondary: #4a4654;
  --accent: #b46d43;
  --gray: #78736f;
  --light: #f6f4ef;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: var(--dark);
}

/* NAVBAR */

.custom-navbar {
  padding: 25px 0;

  transition: 0.35s;

  background: transparent;
}
.custom-navbar {
  background: rgba(47, 47, 49, 0);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border: 1px solid rgba(255, 255, 255, 0.08);

  transition:
    background 0.35s ease,
    backdrop-filter 0.35s ease,
    padding 0.35s ease,
    box-shadow 0.35s ease;

  padding: 1.2rem 0;
}
.custom-navbar.scrolled {
  background: rgba(47, 47, 49, 0.82);

  backdrop-filter: blur(28px);
  -webkit-backdrop-filter: blur(28px);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);

  padding: 0.9rem 0;
}
.nav-wrapper {
  background: rgba(246, 244, 239, 0.12);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 18px;
  padding: 6px 20px;
}
.navbar-brand {
  padding: 0;
  color: var(--light);
  font-weight: 600;
}

.navbar-brand img {
  height: 60px;
  width: auto;
  display: block;
}

@media (max-width: 992px) {
  .navbar-brand img {
    height: 68px;
  }
}

@media (max-width: 576px) {
  .navbar-brand img {
    height: 43px;
  }
}
.nav-link {
  color: var(--light);

  margin-left: 18px;

  position: relative;
}
.nav-link:hover {
  font-weight: 700;
}

.nav-link::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -4px;

  width: 0;

  height: 2px;

  background: var(--accent);

  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.hero-btn {
  background: var(--accent);

  color: white;

  padding: 0.9rem 1.7rem;

  border-radius: 14px;
}

.hero-btn:hover {
  background: #965734;
}

/* HERO */

.hero {
  height: 100vh;

  background: url(/images/hero1.jpg);

  background-size: cover;

  background-position: center;

  position: relative;

  display: flex;

  align-items: center;
}

.hero h1 {
  font-size: clamp(3rem, 7vw, 8rem);

  font-weight: 700;

  color: var(--light);

  line-height: 0.95;

  margin-bottom: 30px;
  margin-top: 1.5rem;
}
@media (max-width: 992px) {
  .hero h1 {
    margin-top: 0.8rem;
  }
}

@media (max-width: 576px) {
  .hero h1 {
    margin-top: 0.5rem;
  }
}

.overlay {
  position: absolute;

  inset: 0;

  background: linear-gradient(
    90deg,
    rgba(47, 47, 49, 0.78),
    rgba(47, 47, 49, 0.25)
  );
}

.hero-content {
  position: relative;

  z-index: 2;
}

.hero p {
  font-size: 1.2rem;

  max-width: 650px;

  color: #ddd;
}

/* MOBILE */

@media (max-width: 991px) {
  .hero {
    text-align: center;
  }

  .hero p {
    margin: auto;
  }

  .navbar-collapse {
    background: rgba(47, 47, 49, 0.97);

    padding: 25px;

    margin-top: 15px;

    border-radius: 20px;
  }

  .nav-link {
    margin: 12px 0;
  }
}

/* ======================================footer
========================================== */

footer {
  position: relative;
  width: 100%;
  background: var(--accent);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social_icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

footer .social_icon li,
footer .menu li {
  list-style: none;
}

footer .social_icon li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover {
  transform: translateY(-10px);
}

footer .menu li a {
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}

footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(/images/wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
/* ================ Samanah-styles ================  */
.Samanah-Projects {
  color: #ddd;
}
.span {
  color: #965734;
  font-size: larger;
}
.con1 h1 {
  font-size: clamp(2.2rem, 5vw, 4rem);
  width: 100%;
}
.con1 p {
  width: 80%;
  text-align: justify;
}
.con1 .hero-btn {
  background: var(--accent);
  color: white;
  padding: 0.9rem 1.7rem;
  border-radius: 14px;
  transition: all 0.3s ease;
}
.con1 .hero-btn:hover {
  background: #6c3d24;
}
.box-con1 {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.box-con1 img {
  width: 100%;
  display: block;
}

.box-con1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  background: linear-gradient(to right, #3b3940, transparent);
  z-index: 1;
}

/* ================= CONTAINER 2 ==============  */

.box-con2 i {
  color: #b46d43;
}
.box-con2 p {
  text-align: justify;
}
.con2 {
  background-color: #4a4654;
  color: #c1c0c0;
}
.row > .col-md:not(:last-child) .box-con2 {
  border-right: 1px solid #3b3940;
}

/* =================== CONTAINER 3 ================ */
.con3 {
  color: #ddd;
}
.box-con3 {
  width: 100%;
  border: 1px solid #3b3940;
  transition: all 0.2s ease;
  overflow: hidden;
}
.box-con3 img {
  width: 100%;
  display: block;
  transition: all 0.2s ease;
}
.box-con3 h5,
p {
  font-size: medium;
  padding: 10px;
  transition: all 0.3s linear;
}
.box-con3:hover {
  box-shadow: 0px 0px 7px #4a4654;
}
.box-con3:hover h5 {
  color: #b46d43;
  text-shadow: 0px 0px 5px #b46d43;
}
.box-con3:hover img {
  transform: scale(1.15);
}
.box-con3:hover p {
  transform: translateX(45%);
  color: #b46d43;
  text-shadow: 0px 0px 5px #b46d43;
}

@media (max-width: 992px) {
  .con1 h1 {
    font-size: 3rem;
    width: 100%;
  }

  .con1 p {
    width: 100%;
    text-align: left;
  }

  .con1 span {
    font-size: 1rem;
  }
  .con1 .hero-btn {
    padding: 0.8rem 1.5rem;
    font-size: 0.95rem;
  }
  .div-con1 {
    padding-top: 0px;
    margin-bottom: 20px;
  }
  .box-con1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    background: linear-gradient(to right, #3b3940, transparent);
    z-index: 1;
  }

  .box-con1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background: linear-gradient(to left, #3b3940, transparent);
    z-index: 1;
  }
  .row > .col-md:not(:last-child) .box-con2 {
    border-right: none;
  }
  .box-con2 {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .con1 h1 {
    font-size: 2.2rem;
    line-height: 1.1;
  }

  .con1 p {
    font-size: 1rem;
    width: 100%;
    text-align: justify;
  }

  .con1 .hero-btn {
    padding: 0.75rem 1.2rem;
    font-size: 0.9rem;
  }
  .con1 .hero-btn {
    padding: 0.7rem 1.2rem;
    font-size: 0.85rem;
    border-radius: 10px;
  }
  .div-con1 {
    padding-top: 0px;
    margin-bottom: 20px;
  }
  .box-con1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    background: linear-gradient(to right, #3b3940, transparent);
    z-index: 1;
  }

  .box-con1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background: linear-gradient(to left, #3b3940, transparent);
    z-index: 1;
  }
  .row > .col-md:not(:last-child) .box-con2 {
    border-right: none;
  }
  .box-con2 {
    text-align: center;
  }
}
